@import "./variables.scss";

.user-profile-container {
  height: 300px;
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0 auto;
  .user-profile-wrapper {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
  }
  .user-profile-picture {
    border-radius: 90px;
    width: 180px;
    height: 180px;
  }
  .user-details-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
  }
  .user-delete-link {
    margin-bottom: 22px;
  }
}
